.bodyedit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(248, 249, 250);
}
/*stilos navbar dropdown*/
.navbar{
    width: 100%;
    position: relative;
    margin-top: 1rem;
}

.namecontainer{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 120px;
}
.btnn1{
    background-color: transparent;
    color: black;
    border: none;
    
}
.btnn1:hover{
    background-color: transparent;
    color: black;
    border: none;
}
.dropdown{
    
    padding-left: 8rem;
    
    
    
}
.listadrp{
    border-radius: 12px;

}
.dropdown a{
    text-decoration: none;
    color: black;
}
.eli{
    width: 100%;
    margin-bottom: 5px;
}
.btnli{
    width: 100%;
    background: transparent;
    border-radius: 5px;
    border: none;
    
}
.btnli:hover{
    background-color: lightgray;
}

.imagennav{
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  overflow: hidden;
}
.imagennav img{
    width: 100%;
    height: auto;
}
/*fin stilos navbar dropdown*/
/*inicio main*/
.infocontainer{
    border: solid lightgrey 3px;
    border-radius: 25px;
    padding: 2rem;
    width: 80%;
}
/*Estilos imagen del menu edit*/
.imgcontainer{
    display: flex;
    align-items: baseline
}
.imageneditm{
    width: 100px;
    height: auto;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
}
.imageneditm img{
    width: 100%;
    height: auto;
}